/* General styles */
/* Import Urbanist font */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400&display=swap');
body {
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff; /* White text */
    background-color: #000;
}

.container {
    width: 100%;
    max-width: 2000px; /* Increased width to fit the icons */
    height: 100%;
    max-height: 650px; /* Full height with a max */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    background: linear-gradient(
        to bottom,
        #131D43 0%,
        #131E41 25%,
        #1D2A5D 40%,
        #12224F 68%,
        #081F44 100%
    ), #313131;
    border: 2px solid #fff; /* Thin white border */
    transform: translate(-50%,-50%);
}

/* Removed header styles */

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px; /* Adjusted padding for better spacing */
}

.frame-image {
    width: 310px;
    height: 265px;
    margin-right: 100px; /* Adjusted spacing */
}

/* Footer, toolbar, and icons */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #000; /* Black background */
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.icon-button {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 40px;
    height: 40px;
    margin: 0 50px; /* Adjusted spacing between icons */
    cursor: pointer;
}

.icon-button:hover {
    color: #76c7c0;
}
.ac-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.ac-popup-content {
    width: 400px;
    height: 215.5px;
    background: #090909; /* Dark background */
    padding: 20px;
    border-radius: 23.5px;
    position: relative;
    color: #fff; /* White text color */
    padding: 40px; /* Added padding */
    box-sizing: border-box;
    transform: translate(290px, 98px); /* Move to the right and down */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.ac-popup-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.temperature-control,
.fan-speed-control {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type='range'] {
    flex-grow: 1;
    -webkit-appearance: none;
    height: 4px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.temperature-slider {
    background: linear-gradient(90deg, #00FFFF 0%, #D84343 100%);
}

.temperature-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.temperature-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.fan-speed-slider {
    background: #fff;
}

.fan-speed-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.fan-speed-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.fan-speed-dots {
    display: flex;
    gap: 12px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
}

.dot.active {
    opacity: 1;
}

span {
    font-size: 20px;
}
.main-content {
  display: flex;
  height: 90vh;
  background-color: #090909;
  color: white;
  margin-top: 0px;
}


.settings {
  flex: 1;
  padding-left:100px;
}

.settings-group {
  margin-bottom: 30px;
}

.settings-group-title {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 235px;
}

.settings-options {
  display: flex;
  position: relative;
  padding: 10px 0;
}

.settings-option-l {
  padding: 10px 20px;
  width:240px;
  height:48px;
  border: none;   
  background-color: #2d2d2d;
  color: white;
  font-size: 21px;
  font-family: 'Urbanist', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.settings-option-m {
  padding: 10px 20px;
  width:240px;
  height:48px;
  border: none;   
  background-color: #2d2d2d;
  color: white;
  font-size: 21px;
  cursor: pointer;
  font-family: 'Urbanist', sans-serif;
  transition: background-color 0.3s ease;

}

.settings-option-r {
  padding: 10px 20px;
  width:240px;
  height:48px;
  border: none;   
  background-color: #2d2d2d;
  color: white;
  font-size: 21px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Urbanist', sans-serif;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.settings-option-l.active {
  background-color: #4d4d4d;

}
.settings-option-m.active {
  background-color: #4d4d4d;


}
.settings-option-r.active {
  background-color: #4d4d4d;


}

.settings-option-l2 {
  padding: 10px 20px;
  width:380px;
  height:48px;
  border: none;   
  background-color: #2d2d2d;
  color: white;
  font-size: 21px;
  cursor: pointer;
  font-family: 'Urbanist', sans-serif;
  transition: background-color 0.3s ease;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}



.settings-option-r2 {
  padding: 10px 20px;
  width:342px;
  height:48px;
  border: none;   
  background-color: #2d2d2d;
  color: white;
  font-size: 21px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Urbanist', sans-serif;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.settings-option-l2.active {
  background-color: #4d4d4d;
  

}

.settings-option-r2.active {
  background-color: #4d4d4d;


}

/* Existing styles */

/* Brightness slider customization */
/* Existing styles */

/* Brightness slider customization */
.brightness-slider {
  display: flex;
  align-items: center;
  width: 735px;
  height: 52px;
  position: relative;
}

.brightness-slider input[type='range'] {
  margin: 0 10px;
  -webkit-appearance: none;
  appearance: none;
  background: #4d4d4d;
  height: 40px;
  border-radius: 40px;
  width: 100%;
  position: relative; /* Ensure the thumb is positioned relative to the input */
}

.brightness-slider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 70px;
  height: 44px;
  background: #ffffff;
  border-radius: 20px; /* Make the thumb circular */
  cursor: pointer;
  position: relative;
  background: url('/images/brightness.svg') no-repeat center center;
  background-size: 50px 50px; /* Adjust the size of the icon */
}

.brightness-slider input[type='range']::-moz-range-thumb {
  width: 70px;
  height: 40px;
  background: #ffffff;
  border-radius: 20px; /* Make the thumb circular */
  cursor: pointer;
  position: relative;
  background: url('/images/brightness.svg') no-repeat center center;
  background-size: 70px 70px; /* Adjust the size of the icon */
}

.slider-thumb-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21px;
  color: #ffff;
  pointer-events: none;
}

.parking-brake-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 264px;
  height: 141.6px;
  justify-content: center;
  background-color: #0E0E0E; /* Button background color */
  border: 1.6px solid #FFFFFF66; /* Button border color */
  border-radius: 40px;
  
  color: white;
  font-family: 'Montserrat', sans-serif; /* Set font to Montserrat */
  font-size: 20px; /* Set font size to 20px */
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}  

.parking-brake-button:hover {
  background-color: #0E0E0E;
}

.parking-brake-button .icon img {
  width: 50px; /* Adjust the size of the image */
  margin-bottom: 10px;
}

.parking-brake-button .text {
  text-align: center;
}

.parking-brake-button .text div {
  margin: 5px 0;
}

.icon{
  margin-right: 110px;
  margin-top: 50px;
}

.text1{
  margin-right: 100px;
}
.parking-brake-button1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 141.6px;
  background-color: #0E0E0E; /* Button background color */
  border: 1.6px solid #FFFFFF66; /* Updated button border color */
  border-radius: 40px; /* Updated corner radius */
  padding: 20px;
  color: white;
  font-family: 'Montserrat', sans-serif; /* Set font to Montserrat */
  font-size: 20px; /* Set font size to 20px */
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 100px;
  left: 685px;
  transition: background-color 0.3s;
}

.parking-brake-button1:hover {
  background-color: #0E0E0E;
}

.icon-text1 {
  display: flex;
  align-items: center;
}

.parking-brake-button1 .icon img {
  width: 50px; /* Adjust the size of the image */
  margin-right: 10px;
}

.parking-brake-button1 .text12,
.parking-brake-button1 .text21 {
  text-align: center;
}

.parking-brake-button1 .text12 {
  font-size: 20px;
}

.parking-brake-button1 .text21{
  margin-top: 10px; /* Space between the two text sections */
  font-size: 20px;
}

.vehicle-power{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 176px;
  height: 48px;
  background-color: #0E0E0E; /* Button background color */
  border: 1.6px solid #FFFFFF66; /* Updated button border color */
  border-radius: 40px; /* Updated corner radius */
  padding: 20px;
  color: white;
  font-family: 'Montserrat', sans-serif; /* Set font to Montserrat */
  font-size: 20px; /* Set font size to 20px */
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 350px;
  left: 685px;
  transition: background-color 0.3s;
}

.vehicle-power:hover{
  background-color: #0E0E0E;
}

.below-vehicle-power{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  top: 417px;
  left: 285px;
  position: absolute;
  cursor: pointer;
  outline: none;
  color: white;
  margin-left: 404px;
  margin-bottom: 500px;
}

.beside-parking-brake{
  font-family: 'Montserrat',sans-serif;
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  outline: none;
  color: white;
  top: 117px;
  left: 990px;
}

.arrow-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: #090909;
  background-color: #090909;
  position: relative;
  width: 25;
  height: 50%;
  max-width: 25;
  max-height: 25;
}

.sidebar {
  position:absolute;
  width: 17%;
  height: 570px;
  background-color: #161616;
  color: white;
  display: flex;
  flex-direction: column;
}

.sidebar-button {
  display: block;
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  color: white;
  text-align: left;
  font-size: 23px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Urbanist', sans-serif;
}

.sidebar-button.active .sidebar-text {
  color: white; /* Makes the text glow white */
  font-weight: bold; /* Optional: Make the text bold */
  text-shadow: 0 0 5px white; /* Optional: Add a glowing effect */
}

.sidebar-text{
  margin-left: 60px;
  margin-bottom: 0px;
  color: #737373;
  font-weight: bold;
  font-size: x-large;
}

.sidebar-text:hover{
  color: white;
}

.sidebar-icon{
  margin-top: 0px;
  position: absolute;
  align-content: center;
}

.arrow{
  margin-left: 50px;
  margin-bottom: 490px;
}

.mini-sidebar {
  position:absolute;
  width: 17%;
  height: 570px;  
  margin-left: 20%;
  margin-top: -570px;
  padding: 0px;
  background-color: #292929;
  font-family: 'Urbanist', sans-serif;
  transform: translate(-20%,100%);
}

.mini-sidebar-button {
  display: block;
  width: 100%;
  padding: 15px 20px;
  position: static;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  color: white;
  text-align: left;
  font-size: 23px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Urbanist', sans-serif;
  transition: color 0.3s ease;
}

.mini-sidebar-button.active .mini-sidebar-text {
  color: white; /* Makes the text glow white */
  font-weight: bold; /* Optional: Make the text bold */
  text-shadow: 0 0 5px white; /* Optional: Add a glowing effect */
}

.mini-sidebar-text{
  margin-left: 0px;
  margin-bottom: 0px;
  color: #737373;
  font-weight: bold;
  font-size: x-large;
}

.mini-sidebar-text:hover{
  color: white;
}

.diagnostics-arrow-section{
  margin-left: 40%;
  top: 40%;
  margin-top: -625px;
  height: 570px;
}

.diagnostics-arrow-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: #090909;
  background: linear-gradient(
    to bottom,
    #131D43 0%,
    #131E41 25%,
    #1D2A5D 40%,
    #12224F 68%,
    #081f44 100%
  ), #313131;
  position: relative;
  width: 25;
  height: 50px;
  max-width: 25;
  max-height: 5;
}

.diagnostics-arrow{
  margin-left: 20px;
  margin-bottom: 0px;
}

.screen-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
  padding: 90px;
  width: 100%;
  font-family: 'Urbanist', sans-serif; /* Apply Urbanist font */
}

@import 'Battery.css';
@import 'OBC.css';
@import 'VehicularControl.css';